<section id="product1" class="section-p1">

    <div class="pro-container">
        <div class="pro">
            <img class="card-img-top mx-auto w-100" src="{{ asset(image_path ~ produit.photo ) }}" alt="{{ produit.titre }}">
            <div class="des">
                <span>adidas</span>
                <h5 class="card-title">Nom : {{ produit.titre }}</h5>
                <p class="card-text">Prix : {{ produit.prix }} €</p>
                <a href="{{ path('app_produit_show', {id: produit.id}) }}" class="btn btn-primary">Voir</a>
                <div class="star">
                    <form method="get" action="{{ path('app_panier_ajouter', {id: produit.id}) }}" id="form{{ produit.id }}">
                        <input name="qte" type="number" value="1">
                        <button class="btn btn-warning">
                            <i class="fa fa-cart-arrow-down"></i>
                        </button>
                    </form>
                </div>

</section>

<script>
    window.addEventListener("load", () => {
        $("#form{{ produit.id}}").on("submit", (evtSubmit) => {
            evtSubmit.preventDefault();
            $.ajax({
                url: "{{ path('app_panier_ajouter', {id: produit.id}) }}",
                data: "qte=" + $("#form{{ produit.id}} [name='qte']").val(),
                dataType: "json",
                success: (data) => {
                    $("#nombre").html(data);
                    console.log("nb produits dans le panier = " + data);
                },
                error: (jqXHR, status, error) => {
                    console.log("ERREUR AJAX", status, error);
                }
            });
        });
    });
</script>