{% extends 'base.html.twig' %}

{% block title %}Hello AdresseLivraisonController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {# <a href="{{ path('app_panier_valider') }}"
    <button class="btn">{{ button_label|default('Save') }}</button>
    </a> #}

    <form action="/charge" method="post" id="payment-form">
  <div class="form-row">
    <label for="phone">Numéro de téléphone</label>
    <input type="text" name="phone" id="phone">
  </div>
  <div class="form-row">
    <label for="email">Adresse e-mail</label>
    <input type="email" name="email" id="email">
  </div>
  <div class="form-row">
    <label for="card-element">
      Crédit ou débit
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Soumettre le paiement</button>
</form>

{{ form_end(form) }}
{% endblock %}
