<section id="header">
	<div class="roby"><img src="{{ asset(img_path ~ "logo.png" ) }}" alt="^^^^"> </div>

	<div>
		<ul id="navbar">
			<li><a class="navbar-brand ms-3" href="{{ path('app_home') }}">
					RobyMarket
				</a></li>
			<li><a href="shop.html">Shop</a></li>
			{% if not app.user %}
			<li>
				<a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">
					<i class="fa fa-sign-in-alt"></i>
				</a>
			</li>

			{% else %}
			<li><a class="nav-link" href="">
					{{ app.user.username }}
				</a></li>
			<li><a class="nav-link" href="{{ path('app_logout') }}">
					<i class="fa fa-sign-out-alt"></i>
				</a></li>

			{% endif %}


			{% if is_granted("ROLE_ADMIN") %}
			<li><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Admin

				</a></li>
			<li><a class="dropdown-item" href="{{ path('admin') }}">
					BackOffice
				</a></li>

			{% endif %}

			{% if app.user %}
			<li class="dropdown">
				{# <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="user"> #}
				{# <i class="fa fa-user" aria-hidden="true"></i> #}<span class="caret"> </span>
				{# <span class="sr-only">{{ app.username }}</span> #}
			</li>

			{# <li>
					<a href="{{ path('app_user_edit') }}"> 
																																                                                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }}
																																                                                </a>
																																                                            </li> #}
			<li class="divider"></li>
			{# <li>
																																                                                {# <a href="{{ path('security_logout') }}"> #}
			{# <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
																																                                                </a>
																																                                            </li>  #}

			{% endif %}

			<li class="nav-item active">
				<a class="nav-link" href="{{ path('app_panier') }}">
					<i class="fa fa-shopping-cart"></i>
					<div id="nombre"></div>
				</a>

			</li>

			<form class="form-inline my-2 my-lg-0" action="{{ path('app_recherche_ajax') }}" id="formSearch">
				<input name="search" id="search" class="form-control mr-sm-2 col-12" type="search" placeholder="search" aria-label="search">
				<button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">
					Search
				</button>





		</ul>
	</div>
</section>